# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lss

#my
VSC/
tst*/
.generated_files/
build/
_build/
out/
cmake/
debug/
dist/
queuelogs/

!h2meta.exe
!user.cmake

*/*.log
*/*.inx
*/*.bin

*.mc3
*.yml